* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: aliceblue;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  background: black url(img/fundo.jpg) no-repeat center center fixed;
  background-size: cover;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  min-height: 25vh;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;

}

#aba {
  display: none;
}

main {
  min-height: 65vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tamole {
  text-align: right;
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;

  padding: 5px 10px;
  border-radius: 5px;


  font-size: 1.1em;
  color: rgba(240, 248, 255, 0.425);
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

#caixa {
  display: flex;
  justify-content: space-between;

  overflow: hidden;
  width: 400px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.404);
  border-radius: 5px;
  border: none;

  text-align: center;
}

#icon, #micro {
  margin: 3px 3px 0px 7px;
  color: rgba(255, 255, 255, 0.514);
}

input {
  width: 450px;
  height: 30px;
  padding: 5px;
  background-color: transparent;
  border: none;
}

input:focus, select:focus {
  outline: 0;
}


input::placeholder {
  color: rgb(255, 255, 255);
  padding: 5px;
  text-shadow: 0px 0px 10px black, 0px 0px 10px black;
}

footer {
  height: 9vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}